<header class="header">
        <div class="header__container container flex">
          <a href="/index.html" class="logo">
            <img
              class="img logo-desktop"
              src="icons/logo_l.svg"
              alt="Логотип «Уголок»"
            />
            <img
              class="img logo-mobile"
              src="icons/logo_s.svg"
              alt="Логотип «Уголок»"
            />
          </a>
          <p class="slogan">Найди свой уголок</p>
        </div>
      </header>